Chameleon==2.8.0
Mako==0.6.2
MarkupSafe==0.15
PasteDeploy==1.5.0
PyRSS2Gen==1.0.0
Pygments==1.5
SQLAlchemy==0.7.6
WebOb==1.2b3
ordereddict==1.1
psycopg2==2.4.4
pymongo==2.1.1
pyramid==1.3b3
pyramid-assetviews==1.0a3
pyramid-debugtoolbar==1.0
pyramid-tm==0.3
repoze.lru==0.4
transaction==1.2.0
translationstring==1.1
tweepy==1.9
unittest2==0.5.1
venusian==1.0a3
waitress==2.1.1
wsgiref==0.1.2
zope.deprecation==3.5.1
zope.interface==3.8.0
zope.sqlalchemy==0.7
