body {
    margin: 0;
    padding: 0;
}

#container {
    border-style: solid;
    border-width: thin;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#header {
    height: 50px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
