body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#container {
    border-style: solid;
    border-width: thin;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#header {
    height: 50px;
}

.enabled-false {

}

.enabled-true {

}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
